body {
  background-color: #ededed;
  color: #2f2e41;
  padding: 0;
  margin: 0;
}

/* Nav */

.navbar {
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0 0 10px 1px #999999;
  display: flex;
  height: 100px;
  justify-content: space-between;
}
.navbar h1 {
  font-size: 2.5rem;
}
.navbar a {
  color: #2f2e41;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0 1rem;
  text-decoration: none;
}

/* carousel */
.carousel {
  position: relative;
  margin-top: 2rem;
}
.carousel-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel-slide img {
  width: 100%;
  /* height: 50vh; */
  /* margin-top: 0.5rem; */
}
.carousel-btn {
  position: absolute;
  top: 40%;
  z-index: 2;
  border: none;
  font-size: 4rem;
  font-weight: 1000;
  position: absolute;
  z-index: 2;
  background: transparent;
  padding: 0 1rem;
  cursor: pointer;
}
.carousel-btn:hover {
  background-color: white;
}
.next {
  top: 41%;
  right: 0;
}
@media screen and (min-width: 1324px) {
  .carousel-slide img {
    width: auto;
    /* height: 87vh; */
    height: 85vh;
    margin: auto;
    margin-top: 0.5rem;
  }
  .carousel-btn {
    margin: 2rem;
  }
}
/* Categories + Bestsellers */
.categories {
  background-color: #ffffff;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1.5rem 0 1.5rem 0;
  text-align: center;
}
.heading {
  border: 2px solid #2f2e41;
  border-radius: 10px;
  font-size: 2.5rem;
  width: fit-content;
  margin: auto;
  padding: 0.5rem 1rem;
}

.category-photos {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}
.photos {
  display: flex;
  width: 23%;
  height: 18%;
  position: relative;
  cursor: pointer;
}
.photos:hover {
  opacity: 0.5;
}
.photos img {
  width: 100%;
  height: auto;
}
.name {
  background-color: rgba(0, 0, 0, 0.2);
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bolder;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 1rem;
  height: fit-content;
  letter-spacing: 1px;
  margin-bottom: 3px;
}
.best-name {
  margin-bottom: 0px;
}
@media screen and (max-width: 1024px) {
  .category-photos {
    flex-wrap: wrap;
  }
  .photos {
    width: 45%;
    margin-bottom: 1.5rem;
  }
  .heading {
    font-size: 2rem;
  }
}

@media screen and (max-width: 1024px) {
  .name {
    font-size: 1.3rem;
  }
}

/* Posters: Nature & Love */
.naturally-made {
  display: flex;
  margin-bottom: 1.5rem;
  padding: 1rem;
  background-color: #ffffff;
  height: 50vh;
}
.nature {
  width: 60%;
  height: auto;
}
.nature-para {
  border-right: 2px solid #2f2e41;
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
  box-sizing: border-box;
  width: 50%;
  padding: 2rem 1rem 2rem 2rem;
  margin: 0 1rem;
  line-height: 2rem;
  letter-spacing: 1px;
}
.second {
  border-right: none;
  border-left: #2f2e41 2px solid;
}
@media screen and (max-width: 1000px) {
  .naturally-made {
    flex-wrap: wrap;
    height: auto;
  }
  .nature {
    width: 95%;
    margin: 1rem;
  }
  .nature-para {
    border-right: none;
    border-bottom: 2px #2f2e41 solid;
    width: 95%;
    font-size: 1rem;
  }
  .second {
    border: none;
    border-top: #2f2e41 2px solid;
  }
}
/* Pre footer */
.pre-footer {
  background-image: url("https://images.unsplash.com/photo-1564352969906-8b7f46ba4b8b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80");
  border-radius: 10px;
  display: flex;
  font-size: 1.2rem;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  width: 98%;
  height: 30vh;
  margin: auto;
  margin-bottom: 2rem;
}
.pre-footer-links {
  display: flex;
  width: 60%;
  justify-content: space-evenly;
}

.pre-footer-links li {
  list-style: none;
  letter-spacing: 1px;
}

.pre-footer-heading {
  font-size: 50px;
  margin-left: 3rem;
}
@media screen and (max-width: 768px) {
  .pre-footer {
    flex-wrap: wrap;
    width: 95%;
    height: max-content;
    justify-content: center;
    padding-bottom: 2rem;
  }
  .pre-footer-links {
    width: 80%;
  }
  .pre-footer-heading {
    margin-left: 0;
    text-align: center;
  }
}
/* Footer */
.footer {
  /* background-color: #ffffff; */
  background-color: #2f2e41;
  color: #ffffff;
  text-align: center;
  padding: 2rem 0;
  margin-block-start: 0;
  margin-block-end: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer-desc {
  color: #999999;
  letter-spacing: 0.5px;
}
.footer-list {
  display: flex;
  justify-content: space-around;
  width: 40%;
  margin: auto;
}
.footer-list li {
  list-style: none;
  margin: 1rem 0 0.5rem -2rem;
}
.footer-list li a {
  color: #ffffff;
}
/* Products */
.grid-products {
  display: grid;
  grid-template-columns: 300px auto;
}
.filters {
  background-color: #ffffff;
  height: max-content;
  border: 2px solid #2f2e41;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 1.8rem;
  padding: 4rem 1.5rem;
  margin: 1rem;
  position: relative;
}
.filters input {
  cursor: pointer;
}

.filter-heading {
  margin-top: 2rem;
  font-size: 35px;
}
.range-filter {
  margin-bottom: 2rem;
}
.clear {
  border: none;
  border-radius: 5px;
  background-color: #2f2e41;
  color: #ffffff;
  padding: 0.3rem 0.8rem;
  cursor: pointer;
  margin-left: 3rem;
  font-size: medium;
  position: absolute;
  top: 20px;
  right: 20px;
}
.clear:hover {
  box-shadow: 2px 2px 5px 2px #2f2e41;
  background-color: #ffffff;
  color: #2f2e41;
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  line-height: 0.5rem;
  position: relative;
}
.productCard {
  background-color: #ffffff;
  position: relative;
  width: 250px;
  height: 500px;
  padding: 0 0 2rem;
  margin: 1rem 0;
}
.description {
  padding: 0.3rem 1rem 1rem;
}
.description p {
  font-size: 14px;
}
.price {
  font-size: 13px;
}
.wishlist-heart {
  position: absolute;
  font-size: 1.1rem;
  /* right: 0; */
  right: 8px;
  /* top: 11px; */
  bottom: 135px;
  cursor: pointer;
  padding: 0.5rem;
}
.wishlist-heart:hover {
  color: rgba(214, 2, 2, 0.877);
  font-size: 1.3rem;
}
.add-to-cart {
  background-color: #89a17e;
  /* background-image: linear-gradient(#b2bd92, #89a17e); */
  color: #ffffff;
  border: none;
  border-radius: 5px;
  box-shadow: 2px 2px 3px 1px #d3d3d3;
  font-size: medium;
  padding: 0.5rem 4rem;
  cursor: pointer;
  margin: 0 1rem;
}
.add-to-cart:hover {
  /* box-shadow: 2px 2px 3px 1px #89a17e; */
  background-color: white;
  color: #89a17e;
}
.header-heading {
  font-size: 50px;
  text-align: center;
  margin: 2rem 0;
}
/* Single Product */
.single-product {
  background-color: #ffffff;
  display: flex;
  position: relative;
  /* justify-content: center; */
  height: 500px;
  width: 800px;
  margin: auto;
  margin-bottom: 5rem;
}
.single-product .image {
  width: 50%;
  height: 500px;
}
.single-product .desc {
  width: 320px;
  line-height: 1.6rem;
  letter-spacing: 0.5px;
}
.single-product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-top: 2rem;
  padding: 0.5rem 2rem;
}
.single-prod-heart {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1.5rem;
  cursor: pointer;
}
.single-prod-heart:hover {
  color: rgba(214, 2, 2, 0.877);
  font-size: 1.6rem;
}
.single-product-info .brand {
  margin-top: -35px;
}
.single-product-info .price {
  margin-top: 20px;
}
.red {
  color: rgba(214, 2, 2, 0.877);
}
.not-red {
  color: #2f2e41;
}
